.Collection{
display: flex;
flex-direction: column;
align-items: center;
.item{
    @media screen and (max-width:800px){
        grid-template-columns: 1fr 1fr;
    }
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr ;
grid-gap: 15px ;


&.collection-item{
    margin-bottom: 10px;
}

}



}